@model _1907FirstWebAppAtempt.Models.MyUser 
@inject _1907FirstWebAppAtempt.IPrimeService primeService


@{
    ViewBag.Title = "showUserDetails";
    // Layout = "~/Views/Shared/_Layout.cshtml";  // is not needed couse of the view start file
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>showUserDetails</title>
</head>
<body>
    <div>
        @Html.DisplayNameFor(u => u.UserId)
        @Html.DisplayFor(u => u.UserId)
        
        <div> -> Is UserId Prime (ViewBag): @ViewBag.primeUserId </div>
        <div> -> Is UserId Prime (ViewInjection): @primeService.IsPrime(Model.UserId); </div>
    </div>

    <div>
        @Html.DisplayNameFor(u => u.UserName)
        @Html.DisplayFor(u => u.UserName)
    </div>
    
    <div>
        @Html.DisplayNameFor(u => u.password)
        @Html.DisplayFor(u => u.password)
    </div>
    
</body>
</html>
